:root {
    /* color definitions */
    --blue-05: #D9E1F2;
    --blue-10: #8BAFF9;
    --blue-20: #4784FF; /* for header text, pointer, check circles */
    --blue-30: #3376FF;
    --blue-40: #2970FF; /* progress bar */
    --blue-50: #1F69FF;
    --blue-60: #0051D0;
    --blue-70: #0040A3;
    --blue-80: #003485;
    --blue-90: #131E34;

    --white: #ffffff; /* primary */
    --gray-05: #F6F6F9;
    --gray-10: #ECECF2; /* TV-G badge border and text */
    --gray-20: #CECEDA; /* secondary */
    --gray-30: #B1B1BD; /* other badges background */
    --gray-40: #8B8B97;
    --gray-50: #62626C; /* TV-G badge background, active buttons, tertiary */
    --gray-60: #484851; /* other badges text */
    --gray-70: #35353B; /* guide borders */
    --gray-80: #232328; /* unselected buttons */
    --gray-90: #141417;
    --black: #000000;

/* font weight definitions */
    --X-thin: 100;
    --X-extra-light: 200;
    --X-light: 300;
    --X-regular: 400;
    --X-medium: 500;
    --X-bold: 700;
}

/* page styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    /* background-image: url("cocomelon.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: var(--X-light);
    font-style: normal;
    font-family: 'XfinityStandard', sans-serif;
    color: var(--white);
}

h1, .h1 {
    font-weight: var(--X-light);
}
h2, .h2 {
    font-weight: var(--X-light);
}
h3, .h3 {
    color: var(--white);
    font-weight: var(--X-light);
}
div {
    box-sizing: border-box;
}

.primary {
    color: var(--white);
}
.secondary {
    color: var(--gray-20);
}
.tertiary {
    color: var(--gray-50);
}
.light {
    font-weight: var(--X-light);
}
.regular {
    font-weight: var(--X-regular);
}
.caption_1 {
    font-weight: var(--X-regular);
    font-size: 20px;
}
.caption_2 {
    font-weight: var(--X-regular);
    font-size: 16px;
}

.adina_added {
    /* this is just a marker for my HTML changes */
}

/* TEMP HIDE */
#audioTracks,
#ccTracks,
#videoURLs {
    display: none;
}

.button img,
#playerType,
#cacheOnly,
#cacheOnlyButton,
#seekState,
#autoSeekButton,
#jumpPosition,
#jumpButton,
#logState,
#autoLogButton,
#metadataState,
#metadataButton,
#homeButton,
#okButton,
#audioTitle,
#ccTitle,
#currentDuration,
#totalDuration {
    display: none;
}

#overlayModal,
#urlModal,
#metadataModal,
#ccModal,
#errorModal,
#ffModal,
#buffModal,
#adModal,
#subtitleModal,
#positionModal {
    display: none;
}

.hidden {
    display: none;
}

.button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--gray-70);
}
.button.focus {
    background-color: var(--gray-30);
}
.button::before,
.button::after {
    content: "";
    display: block;
    position: absolute;
    color: var(--white);
    font-family: 'XfinityStandard', sans-serif;
    font-size: 1.1rem;
}

#videoControlsDiv {
    position: absolute;
    left: 0;
    bottom: 7vh;
    width: 100%;
    height: 20vh;
    transition: transform 400ms;
}

.hideit {
    transform: translateY(23vh);
}

#videoControlsDiv .button {
    bottom: 3vh;
}

#videoToggleButton,
#skipBackwardButton,
#skipForwardButton,
#muteVideoButton,
#ccExpander,
#ccStylesExpander {
    display: none;
}

#playOrPauseButton {
    left: 50vw;
}

#playOrPauseButton [src="../icons/play.png"] {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 0.9rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.85rem;
    border-bottom-width: 0.85rem;
    border-left-width: 1.6rem;
    border-left-color: var(--white);
}

#playOrPauseButton [src="../icons/pause.png"] {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    width: 0.55rem;
    height: 1.7rem;
    object-position: 5rem;
    border: 0rem solid transparent;
    border-left: 0.25rem solid var(--white);
    border-right: 0.25rem solid var(--white);
}

#rewindButton {
    left: 44.5vw;
}

#rewindButton::before {
    top: 0.95rem;
    right: 0.8rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.6rem;
    border-bottom-width: 0.6rem;
    border-right-width: 1.2rem;
    border-right-color: var(--white);
}

#rewindButton::after {
    top: 0.95rem;
    left: 0.9rem;
    width: 0;
    height: 1.2rem;
    border-right: var(--white) 0.15rem solid;
}

#fastForwardButton {
    left: 55.5vw;
}

#fastForwardButton::before {
    top: 0.95rem;
    left: 0.8rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.6rem;
    border-bottom-width: 0.6rem;
    border-left-width: 1.2rem;
    border-left-color: var(--white);
}

#fastForwardButton::after {
    top: 0.95rem;
    right: 0.9rem;
    width: 0;
    height: 1.2rem;
    border-left: var(--white) 0.15rem solid;
}

#adExpander {
    left: 5vw;
}

#adExpander::before {
    content: "AD";
    left: 0.7rem;
    top: 0.8rem;
}

#sapExpander {
    left: 14.5vw;
}

#sapExpander::before {
    content: "SAP";
    left: 0.5rem;
    top: 0.8rem;
}

#ccButton {
    left: 20vw;
}

#ccButton::before,
#ccExpander::before,
#ccStylesExpander::before {
    content: "CC";
    left: 0.75rem;
    top: 0.8rem;
}

#ccExpander {
    left: auto;
    right: 7vw;
}

#ccStylesExpander {
    left: auto;
    right: 2vw;
}

#ccExpander::before {
    content: "CCt";
    left: 0.55em;
}

#ccStylesExpander::before {
    content: "CCs";
    left: 0.55em;
}

#x1_overlay_bknd,
#x1_selection_bknd {
    background-image: linear-gradient(to top, rgba(0,0,0,.95), rgba(0,0,0,0));
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
#x1_selection_picker {}

#x1_selection_bknd {
    background-image: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,.2));
    z-index: 10;
}

#seekBarOuter {
    position: absolute;
    width: 80%;
    height: .2rem;
    bottom: 6rem;
    left: 10%;
    background-color: var(--gray-50);
}

#seekBar {
    position: absolute;
    height: .2rem;
    bottom: 0;
    left: 0;
}
#seekBar[style] {
    background-color: var(--blue-20) !important;
}
#seekBar::after {
    content: "";
    position: absolute;
    right: -0.4rem;
    top: -0.4rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--white);
}

#x1_selection_picker {
    position: absolute;
    left: 3em;
    top: 3em;
    z-index: 100;
    background-color: transparent;
    border: none;
}

select[size="1"],
#x1_selection_picker.hidden + #x1_selection_bknd {
    display: none;
}

select:not([size="0"]),
select:not([size="1"]) {
    visibility: visible; /* later change this to hidden after testing */
}

#x1_selection_picker > div {
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: var(--gray-20);
}

#x1_selection_picker .selected {
    background-color: var(--gray-50);
    color: var(--white);
}

/*************** GUIDE STYLES *****************/
#x1_guide {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}
#guide_top,
#guide_main,
#guide_bottom {
    margin-left: 5vw;
}
#guide_top {
    display: block;
    height: 14vh;
    padding-top: 7.5vh;
}
#guide_top h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1.55vw;
    color: var(--gray-50);
    font-weight: var(--X-regular);
}
#guide_top span {
    color: var(--white);
}
#guide_main {
    height: 56vh;
    display: block;
}
.guide_row {
    border-bottom: 1px solid var(--gray-60);
    border-top: none;
    display: flex;
    height: 10vh;
    flex-wrap: nowrap;
    font-size: 2vw;
}
.guide_row:first-child {
    height: 6vh;
    font-size: 1.3vw;
    border-top: 1px solid var(--gray-60);
}
.guide_cell {
    position: relative;
    border-left: 1px solid var(--gray-60);
    width: 14.35%;
    padding-top: 2.7vh;
    padding-left: 2vw;
    color: var(--gray-30);
    white-space: nowrap;
    overflow: hidden;
}
.guide_cell:first-child {
    border-left: none;
    width: 13.90%;
}
.guide_row:not(:first-child) .guide_cell:first-child {
    padding-top: 3.3vh;
    padding-right: 1.2vw;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position: 2vw 3vh;
    color: var(--white);
    font-size: 1.6vw;
    text-align: right;
}
.guide_cell.colspan_2 {
    width: 28.70%; /* 14.35% x 2 */
}
.guide_cell.colspan_3 {
    width: 43.05%;
}
.guide_cell.colspan_4 {
    width: 57.40%;
}
.guide_cell.colspan_5 {
    width: 71.75%;
}
.guide_cell.colspan_6 {
    width: 86.1%;
}
.guide_row:first-child .guide_cell {
    padding-top: 1.5vh;
    font-weight: var(--X-regular);
    color: var(--gray-50);
}
.guide_row:first-child .guide_cell:nth-child(2) {
    color: var(--white);
}
.guide_cell::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    height: 10vh;
    background: linear-gradient(
        to left,
        var(--black),
        var(--black),
        rgba(0, 0, 0, 0)
    );
}
.guide_cell:first-child:after {
    content: none;
}
.guide_cell.selected {
    padding-top: 2.1vh;
    border-top: .6vh solid var(--white);
    border-bottom: .6vh solid var(--white);
    color: var(--blue-20);
}
#channel_ksnv {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/KSNV_logo.svg/400px-KSNV_logo.svg.png");
    background-position-y: 2.5vh;
}
#channel_usa {
    background-image: url("https://www.usanetwork.com/generetic/generated/images/22cb4c7e029716aa34d858d6f9fb18f3.png");
    background-position-y: 3.5vh;
}
#channel_bravo {
    background-image: url("https://img.nbc.com/sites/nbcunbc/files/images/2019/3/11/Bravo-Logo-All-platform-AssetsBravo-Logo-White-905x300.png?impolicy=nbc_com&imwidth=340&imdensity=1");
    background-size: 3.5vw;
}
#channel_universal_kids {
    background-image: url("https://www.universalkids.com/assets/images/UniKids-Logo-120x93.png");
    background-position-y: 2.5vh;
}
#channel_nbc {
    background-image: url("https://www.nbc.com/generetic/generated/images/4fac8d8aaa7d8798a512dac0322d8d14.png");
    background-size: 3vw;
    background-position-x: 2.75vw;
}
#channel_syfy {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c6/SYFY_Logo_2020.png?20200702203840");
    background-position-y: 4.1vh;
}

#guide_bottom {
    display: none;
    height: 30vh;
}

#x1_entity {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,.2)),url("notre_dame_players.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#x1_entity p {
    font-size: 1.75vw;
    margin: 0;
    color: var(--gray-20);
}
#x1_entity h1 {
    font-size: 3.2vw;
    margin: 0;
    margin-bottom: 0.1em;
}
#entity_top,
#entity_main,
#entity_bottom {
    margin-left: 5vw;
}
#entity_top {
    height: 34vh;
}
#entity_main {
    height: 45vh;
}
#entity_main .description {
    width: 60%;
    margin-bottom: 1.75em;
}
#entity_main .badges {
    margin-left: 65%;
    margin-bottom: 2em;
    font-size: .85em;
    font-weight: var(--X-medium);
}
#entity_main .badge {
    display: inline-block;
    box-sizing: border-box;
    border-radius: .2em;
    padding: 0 .2em;
    margin-right: .35em;
    background-color: var(--gray-30);
    color: var(--gray-60);
}
#entity_main .badge:first-child {
    border: 1px solid var(--gray-10);
    background-color: var(--gray-70);
    color: var(--gray-10);
}
#entity_bottom {
    height: 19vh;
    display: none;
}
.watch_options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.watch_option {
    width: 5em;
    margin-right: 0.75em;
    padding: 0.7em 0.7em;
    border-radius: 0.3em;
    background-color: var(--gray-70);
    color: var(--white);
    font-size: 1.6vw;
}
.watch_option:first-child {
    width: 6em;
    padding: 0.4em 0.7em;
    background-color: var(--gray-50);
}
.watch_option:last-child {
    width: 2.5em;
    text-align: center;
}
#x1_entity p.attribution {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--gray-40);
    font-size: .8vw;
}
#x1_entity p.attribution a {
    color: var(--blue-60);
}
