body {
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url("cocomelon.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: XfinityStandard, sans-serif;
}

/* TEMP HIDE */
#audioTracks,
#ccTracks,
#videoURLs {
    display: none;
}

.button img,
#playerType,
/* #ccStyles, */
#cacheOnly,
#cacheOnlyButton,
#seekState,
#autoSeekButton,
#jumpPosition,
#jumpButton,
#logState,
#autoLogButton,
#metadataState,
#metadataButton,
#homeButton,
#okButton,
#audioTitle,
#ccTitle,
#ccButton {
    display: none;
}

#overlayModal,
#urlModal,
#metadataModal,
#ccModal,
#errorModal,
#ffModal,
#buffModal,
#adModal,
#subtitleModal,
#positionModal {
    display: none;
}

.button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 1.5rem;
    background-color: gray;
}

.button.focus {
    background-color: lightgray;
}

#videoControlsDiv {
    position: absolute;
    left: 0;
    bottom: 7vh;
    width: 100%;
    height: 20vh;
}

#videoControlsDiv .button {
    bottom: 3vh;
}

#videoToggleButton,
#skipBackwardButton,
#skipForwardButton,
#muteVideoButton {
    display: none;
}

#playOrPauseButton {
    left: 50vw;
}

#playOrPauseButton [src="../icons/play.png"] {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 0.9rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.85rem;
    border-bottom-width: 0.85rem;
    border-left-width: 1.6rem;
    border-left-color: white;
}

#playOrPauseButton [src="../icons/pause.png"] {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    width: 0.55rem;
    height: 1.7rem;
    object-position: 5rem;
    border: 0rem solid transparent;
    border-left: 0.25rem solid white;
    border-right: 0.25rem solid white;
}

#rewindButton {
    left: 44.5vw;
}

#fastForwardButton {
    left: 55.5vw;
}

#fastForwardButton::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.95rem;
    left: 0.8rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.6rem;
    border-bottom-width: 0.6rem;
    border-left-width: 1.2rem;
    border-left-color: white;
}

#adButton {
    left: 9vw;
}

#adButton::before {
    content: "AD";
    position: absolute;
    left: 0.7rem;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#sapButton {
    left: 14.5vw;
}

#sapButton::before {
    content: "SAP";
    position: absolute;
    left: 0.5rem;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#ccBtn {
    left: 20vw;
}

#ccBtn::before {
    content: "CC";
    position: absolute;
    left: 0.75rem;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#x1_overlay_bknd,
#x1_selection_bknd {
    background-image: linear-gradient(to top, rgba(0,0,0,.95), rgba(0,0,0,0));
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: -1;
}

#x1_selection_bknd {
    background-image: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,.2));
    z-index: 10;
}

#seekBarOuter {
    position: absolute;
    width: 80%;
    height: .2rem;
    bottom: 6rem;
    left: 10%;
    background-color: gray;
}

#seekBar {
    position: absolute;
    height: .2rem;
    bottom: 0;
    left: 0;
}
#seekBar[style] {
    background-color: cornflowerblue !important;
}
#seekBar::after {
    content: "";
    position: absolute;
    right: -0.4rem;
    top: -0.4rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

select {
    position: absolute;
    left: 3em;
    top: 3em;
    z-index: 100;
    background-color: transparent;
    border: none;
    color: white;
}

select[size="1"],
#ccStyles[size="1"] + #x1_selection_bknd {
    display: none;
}

option {
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
}

option:checked {
    background-color: gray;
    color: white;
}



