body {
    margin: 0;
    padding: 0;
    background-color: #000;
    /* background-image: url("cocomelon.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: XfinityStandard, sans-serif;
    color: gray;
}

.adina_added {
    /* this is just a marker for my HTML changes */
}

/* TEMP HIDE */
#audioTracks,
#ccTracks,
#videoURLs {
    display: none;
}

.button img,
#playerType,
/* #ccStyles, */
#cacheOnly,
#cacheOnlyButton,
#seekState,
#autoSeekButton,
#jumpPosition,
#jumpButton,
#logState,
#autoLogButton,
#metadataState,
#metadataButton,
#homeButton,
#okButton,
#audioTitle,
#ccTitle,
#ccButton {
    display: none;
}

#overlayModal,
#urlModal,
#metadataModal,
#ccModal,
#errorModal,
#ffModal,
#buffModal,
#adModal,
#subtitleModal,
#positionModal {
    display: none;
}

.hidden {
    display: none;
}

.button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 1.5rem;
    background-color: gray;
}

.button.focus {
    background-color: lightgray;
}

#videoControlsDiv {
    position: absolute;
    left: 0;
    bottom: 7vh;
    width: 100%;
    height: 20vh;
}

#videoControlsDiv .button {
    bottom: 3vh;
}

#videoToggleButton,
#skipBackwardButton,
#skipForwardButton,
#muteVideoButton {
    display: none;
}

#playOrPauseButton {
    left: 50vw;
}

#playOrPauseButton [src="../icons/play.png"] {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 0.9rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.85rem;
    border-bottom-width: 0.85rem;
    border-left-width: 1.6rem;
    border-left-color: white;
}

#playOrPauseButton [src="../icons/pause.png"] {
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    width: 0.55rem;
    height: 1.7rem;
    object-position: 5rem;
    border: 0rem solid transparent;
    border-left: 0.25rem solid white;
    border-right: 0.25rem solid white;
}

#rewindButton {
    left: 44.5vw;
}

#rewindButton::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.95rem;
    right: 0.8rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.6rem;
    border-bottom-width: 0.6rem;
    border-right-width: 1.2rem;
    border-right-color: white;
}

#rewindButton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.95rem;
    left: 0.9rem;
    width: 0;
    height: 1.2rem;
    border-right: white 0.15rem solid;
}

#fastForwardButton {
    left: 55.5vw;
}

#fastForwardButton::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.95rem;
    left: 0.8rem;
    width: 0;
    height: 0;
    border: 0rem solid transparent;
    border-top-width: 0.6rem;
    border-bottom-width: 0.6rem;
    border-left-width: 1.2rem;
    border-left-color: white;
}

#fastForwardButton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.95rem;
    right: 0.9rem;
    width: 0;
    height: 1.2rem;
    border-left: white 0.15rem solid;
}

#adExpander {
    left: 9vw;
}

#adExpander::before {
    content: "AD";
    position: absolute;
    left: 0.7rem;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#sapExpander {
    left: 14.5vw;
}

#sapExpander::before {
    content: "SAP";
    position: absolute;
    left: 0.5rem;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#ccExpander {
    left: 20vw;
}

#ccExpander::before {
    content: "CC";
    position: absolute;
    left: 0.75rem;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#videoExpander {
    left: 80vw;
}

#videoExpander::before {
    content: "TEMP";
    position: absolute;
    left: 0;
    top: 0.8rem;
    color: white;
    font-family: XfinityStandard, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#x1_overlay_bknd,
#x1_selection_bknd {
    background-image: linear-gradient(to top, rgba(0,0,0,.95), rgba(0,0,0,0));
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: -1;
}
#x1_selection_picker {}

#x1_selection_bknd {
    background-image: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,.2));
    z-index: 10;
}

#seekBarOuter {
    position: absolute;
    width: 80%;
    height: .2rem;
    bottom: 6rem;
    left: 10%;
    background-color: gray;
}

#seekBar {
    position: absolute;
    height: .2rem;
    bottom: 0;
    left: 0;
}
#seekBar[style] {
    background-color: cornflowerblue !important;
}
#seekBar::after {
    content: "";
    position: absolute;
    right: -0.4rem;
    top: -0.4rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

#x1_selection_picker {
    position: absolute;
    left: 3em;
    top: 3em;
    z-index: 100;
    background-color: transparent;
    border: none;
    color: white;
}

select[size="1"],
#x1_selection_picker.hidden + #x1_selection_bknd {
    display: none;
}

select:not([size="0"]),
select:not([size="1"]) {
    visibility: visible; /* later change this to hidden after testing */
}

#x1_selection_picker > div {
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
}

#x1_selection_picker .selected {
    background-color: gray;
    color: white;
}

/*************** GUIDE STYLES *****************/
#guide_top,
#guide_main,
#guide_bottom {
    display: none;
    margin-left: 5vw;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}
#guide_top {
    display: block;
    height: 14vh;
    padding-top: 7.5vh;
}
#guide_top h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1.75vw;
}
#guide_top span {
    color: white;
}
#guide_main {
    height: 56vh;
    display: block;
}
.guide_row {
    border-bottom: 1px solid gray;
    border-top: none;
    display: flex;
    height: 10vh;
    flex-wrap: nowrap;
    box-sizing: border-box;
    font-size: 2vw;
}
.guide_row:first-child {
    height: 6vh;
    font-size: 1.3vw;
    border-top: 1px solid gray;
}
.guide_cell {
    position: relative;
    border-left: 1px solid gray;
    width: 14.8%;
    padding-top: 2.7vh;
    padding-left: 2vw;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}
.guide_cell:first-child {
    border-left: none;
    width: 14%;
}
.guide_row:not(:first-child) .guide_cell:first-child {
    padding-top: 3.3vh;
    padding-right: 1.2vw;
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position: 2vw 3vh;
    color: white;
    font-size: 1.6vw;
    text-align: right;
}
#channel_usa {
    background-image: url("https://www.usanetwork.com/generetic/generated/images/22cb4c7e029716aa34d858d6f9fb18f3.png");
    background-position-y: 3.5vh;
}
#channel_bravo {
    background-image: url("https://img.nbc.com/sites/nbcunbc/files/images/2019/3/11/Bravo-Logo-All-platform-AssetsBravo-Logo-White-905x300.png?impolicy=nbc_com&imwidth=340&imdensity=1");
    background-size: 3.5vw;
}
#channel_universal_kids {
    background-image: url("https://www.universalkids.com/assets/images/UniKids-Logo-120x93.png");
}
#channel_nbc {
    background-image: url("https://www.nbc.com/generetic/generated/images/4fac8d8aaa7d8798a512dac0322d8d14.png");
    background-size: 3vw;
    background-position-x: 2.75vw;
}
#channel_syfy {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c6/SYFY_Logo_2020.png?20200702203840");
    background-position-y: 4.1vh;
}
.guide_cell.colspan_2 {
    width: 29.6%;
}
.guide_row:first-child .guide_cell {
    padding-top: 1.5vh;
}

.guide_cell::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    height: 10vh;
    background: linear-gradient(
        to left,
        black,
        black,
        rgba(0, 0, 0, 0)
    );
}
.guide_cell:first-child:after {
    content: none;
}
.guide_cell.selected {
    padding-top: 2.1vh;
    border-top: .6vh solid white;
    border-bottom: .6vh solid white;
    color: cornflowerblue;
}

#guide_bottom {
    height: 30vh;
}